<div class="show container flexCol detailsBook">
    <img src="<%= data.image_url %>" alt="">
    <h1><%= data.title %></h1>
    <h3><%= data.author %></h3>
    <p><%= data.description %></p>
    <p>ISBN: <%= data.isbn %></p>
    <p>Bookshelf: <%= data.bookshelf %></p>
    <!-- <form class="postForm" action="" method="POST">
                    <input type="hidden" value="<%= data.id %>">
                    <button id="detailsButton">Update</button>
                </form>
                <form class="postForm" action="" method="POST">
                    <input type="hidden" value="<%= data.id %>">
                    <button id="detailsButton">Delete</button>
                </form> -->
</div>