<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
    <main>
        <div class="title">
            <p><strong id="savedBooks"><%= data.length %></strong> Saved Books</p>
        </div>
        <% data.forEach(data =>{ %>
            <div class="show container flexCol">
                <img src="<%= data.image_url %>" alt="">
                <h1><%= data.title %></h1>
                <h3><%= data.author %></h3>
                <form class="postForm" action="/books/<%=data.id%>" method="get">
                    <button id="detailsButton">View Details</button>
                </form>
            </div>
        <% }) %>
    </main>
    <%- include('../layout/footer') %>
</body>

</html>
